<!-- Navbar -->
<section class="hero is-small is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Oaxaca Mexican Food
      </h1>
      <h2 class="subtitle">
        Table Ordering System
      </h2>
      <div class="tile is-ancestor">
        <!-- All other tile elements -->
        <div class="tile is-parent">
          <!-- Add content or other tiles -->
          <article class="tile is-child notification is-dark" onclick="location.href='javascript:history.back()';" style="cursor: pointer">
            <p class="title">Return to Menu</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-dark" onclick="location.href='http://www.google.com';" style="cursor: pointer">
            <p class="title">Call Waiter</p>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Hero content: will be in the middle -->
<div class="hero-body">
  <section class="section">
    <div class="container">
      <div class="container'">
        <div class="columns">
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Chicken
                </p>
                </a>
              </header>
              <div class="card-content">
                <div class="content">
                  This is chicken.
                </div>
              </div>
              <footer class="card-footer">
                <a href="#" class="card-footer-item">Add to Order</a>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Chicken
                </p>
                </a>
              </header>
              <div class="card-content">
                <div class="content">
                  This is chicken.
                </div>
              </div>
              <footer class="card-footer">
                <a href="#" class="card-footer-item">Add to Order</a>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Chicken
                </p>
                </a>
              </header>
              <div class="card-content">
                <div class="content">
                  This is chicken.
                </div>
              </div>
              <footer class="card-footer">
                <a href="#" class="card-footer-item">Add to Order</a>
              </footer>
            </div>
          </div>
        </div>
      </div>
      <div class="container'">
        <div class="columns">
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Chicken
                </p>
                </a>
              </header>
              <div class="card-content">
                <div class="content">
                  This is chicken.
                </div>
              </div>
              <footer class="card-footer">
                <a href="#" class="card-footer-item">Add to Order</a>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Chicken
                </p>
                </a>
              </header>
              <div class="card-content">
                <div class="content">
                  This is chicken.
                </div>
              </div>
              <footer class="card-footer">
                <a href="#" class="card-footer-item">Add to Order</a>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Chicken
                </p>
                </a>
              </header>
              <div class="card-content">
                <div class="content">
                  This is chicken.
                </div>
              </div>
              <footer class="card-footer">
                <a href="#" class="card-footer-item">Add to Order</a>
              </footer>
            </div>
          </div>
        </div>
      </div>
      <div class="container'">
        <div class="columns">
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Chicken
                </p>
                </a>
              </header>
              <div class="card-content">
                <div class="content">
                  This is chicken.
                </div>
              </div>
              <footer class="card-footer">
                <a href="#" class="card-footer-item">Add to Order</a>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Chicken
                </p>
                </a>
              </header>
              <div class="card-content">
                <div class="content">
                  This is chicken.
                </div>
              </div>
              <footer class="card-footer">
                <a href="#" class="card-footer-item">Add to Order</a>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Chicken
                </p>
                </a>
              </header>
              <div class="card-content">
                <div class="content">
                  This is chicken.
                </div>
              </div>
              <footer class="card-footer">
                <a href="#" class="card-footer-item">Add to Order</a>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
