<section class="section">
  <div class="container">
    <% @articles.each do |article| %>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <h1 class="title"><%= link_to article.title, article %></h1>
            </div>
          </div>
          <div class="content">
            <%= article.text %>
          </div>
					<div class="comment-count">
            <% if article.comments.length == 1 %>
              <%= article.comments.length %> Comment
            <% else %>
              <%= article.comments.length %> Comments
            <% end %>
					</div>
        </div>
      </div>
    <% end %>
  </div>
</section>