<section class="section">
  <div class="container">
    <h1 class="title"><%= @article.title %></h1>

    <div class="content">
      <p><%= @article.text %></p>
    </div>

    <p><%= link_to "Edit", edit_article_path(@article) %></p>
  </div>
</section>