<!-- Navbar -->
<section class="hero is-small is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Oaxaca Mexican Food
      </h1>
      <h2 class="subtitle">
        Table Ordering System
      </h2>
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child notification is-dark" onclick="location.href='http://www.google.com';" style="cursor: pointer">
            <p class="title">Call Waiter</p>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Hero content: will be in the middle -->
<div class="hero-body">
  <div class="container">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="foodbutton tile is-child notification is-light" onclick="location.href='/menu';" style="cursor: pointer">
            <div class="columns">
              <div class="column is-5">
                <p class="title">View Menu and Order</p>
                <p class="subtitle">Dive into our amazing menu.</p>
              </div>
            </div>
          </article>
        </div>
      </div>
  </div>
</div>

